<div class="container mt-5">
    @if (!registerMode && !accountService.currentUser()) {
        <div style='text-align: center;'>
            <h1>Find your matches</h1>
            <p class="lead">Come on in to view your matches... all you need to do is sign up!</p>
            <div class="text-center">
                <button (click)="registerToggle()" class="btn btn-info btn-lg me-2">Register</button>
                <button class="btn btn-light btn-lg me-2">Learn more</button>
            </div>
        </div>
    }
    @else if (registerMode && !accountService.currentUser()) {
        <div class="container">
            <div class="row justify-content-center">
                <div class="col4">
                    <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
                </div>
            </div>
        </div>
    }

    @if (accountService.currentUser()) {
        <div style="text-align:center">
            <h1>CUPIDWAVE</h1>
            <h3>Welcome to CupidWave</h3>
            <button routerLink="/members" routerLinkActive="router-link-active"  class="btn btn-outline-info">Explore The App</button>
        </div>
    }
</div>